.all-matches {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #AD5091;
    height: 35vh;
    width: 35vw;
    align-self: center;
    border-radius: 1em;
}

.all-matches > * {
    font-family: 'Montserrat', sans-serif;
    margin: 0.5em;
    padding: 0.5em;
    height: 7vh;
}

.all-matches select, .all-matches option {
    font-size: 1.1em;
}

.all-matches > p, a {
    color: rgb(219, 253, 235);
    
}

.all-matches  a {
    text-decoration: none;
    font-weight: bold;
}

.matches-title{
    color: #AD5091;
    text-align: center;
}

.fetch-match {
    background-color: rgb(219, 253, 235);
    padding: 0.7em;
    margin-top: 1em;
    font-size: 0.9em;
    text-align: center;
    height: fit-content;
    border-radius: 0.8em;

}

.fetch-match > a {
    color: #7e3c6a;
    font-weight: bolder;
    
}

.no-matches-msg {
    text-align: center;
    line-height: 2em;
}
