.requested-hamsters {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1em;
    border: 2px solid;
    justify-content: center;
    height: 50vh;
}

.single-hamster p{
    font-size: 0.9em;
    text-align: center;
}
.single-hamster img {
    width: auto;
    height: 13vh;
}

.single-hamster img:hover{
    cursor: auto;
}

.top-bottom-hamsters {
    display: grid;
    grid-template-columns: 40vw 40vw;
    column-gap: 2em;
    justify-content: center;
}

.hamster-stats h3 {
    text-align: center;
}

#top .requested-hamsters{
    border-color:  #AD5091;
}

#top h3{
    color: #AD5091;
}

#bottom .requested-hamsters{
    border-color: #26797A;
}

#bottom h3 {
    color: #26797A
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total-games p{
    font-size: 1.3em;
}

.stats-error a{
    color: #AD5091;
    font-weight: bold;  
}

.stats-error{
    margin-top: 1em;
    width: 40vw;
    text-align: center;
}

